table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 5px;
    text-align: center;
}
input {
    width: 100%;
    border: none;
    text-align: right;
}