@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    background-size: cover;
    background-position: 50% 60%;
    background-attachment: fixed;
    color: white;
    font-size: 20px;
}

.main-title {
    text-align: center;
    font-size: 3rem;
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.drag-container {
    margin: 20px;
}

.drag-list {
    display: flex;
    align-items: flex-start;
}

.drag-item-list.over {
    border: 2px dashed #666; /* Exemplo de estilo para área de drop */
}

.drag-column {
    flex: 1;
    margin: 0 10px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    overflow: hidden; /* Garante que a rolagem aconteça dentro da coluna */
    max-height: 80vh; /* Define a altura máxima para a coluna */
}

.pending-data-column .header,
.pending-data-column .solid,
.pending-data-column .solid:hover,
.pending-data-column .over {
    background-color: #5b5f97;
}

.to-do-column .header,
.to-do-column .solid,
.to-do-column .solid:hover,
.to-do-column .over {
    background-color: #a2622d;
}

.in-progress-column .header,
.in-progress-column .solid,
.in-progress-column .solid:hover,
.in-progress-column .over {
    background-color: #1b6161;
}

.finished-column .header,
.finished-column .solid,
.finished-column .solid:hover,
.finished-column .over {
    background-color: #4a90e2;
}

.todays-deliveries-column .header,
.todays-deliveries-column .solid,
.todays-deliveries-column .solid:hover,
.todays-deliveries-column .over {
    background-color: #248224;
}

.meeting-activities-column .header,
.meeting-activities-column .solid,
.meeting-activities-column .solid:hover,
.meeting-activities-column .over {
    background-color: #a22d22;
}

.custom-scroll-pending-data,
.custom-scroll-to-do,
.custom-scroll-doing,
.custom-scroll-done,
.custom-scroll-in-progress,
.custom-scroll-todays-deliveries,
.custom-scroll-meeting-activities,
.custom-scroll,
.custom-scroll-finished {
    overflow-y: scroll;
    max-height: calc(70vh - 50px); /
}

.custom-scroll-pending-data::-webkit-scrollbar-track,
.custom-scroll-to-do::-webkit-scrollbar-track,
.custom-scroll-doing::-webkit-scrollbar-track,
.custom-scroll-done::-webkit-scrollbar-track,
.custom-scroll::-webkit-scrollbar-track,
.custom-scroll-finished::-webkit-scrollbar-track,
.custom-scroll-in-progress::-webkit-scrollbar-track,
.custom-scroll-todays-deliveries::-webkit-scrollbar-track,
.custom-scroll-meeting-activities::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    margin-right: 5px;
}

.custom-scroll-pending-data::-webkit-scrollbar,
.custom-scroll-to-do::-webkit-scrollbar,
.custom-scroll-doing::-webkit-scrollbar,
.custom-scroll-done::-webkit-scrollbar,
.custom-scroll::-webkit-scrollbar,
.custom-scroll-finished::-webkit-scrollbar,
.custom-scroll-in-progress::-webkit-scrollbar,
.custom-scroll-todays-deliveries::-webkit-scrollbar,
.custom-scroll-meeting-activities::-webkit-scrollbar{
    width: 10px;
}

.custom-scroll-pending-data::-webkit-scrollbar-thumb,
.custom-scroll-to-do::-webkit-scrollbar-thumb,
.custom-scroll-doing::-webkit-scrollbar-thumb,
.custom-scroll-done::-webkit-scrollbar-thumb,
.custom-scroll::-webkit-scrollbar-thumb,
.custom-scroll-finished::-webkit-scrollbar-thumb,
.custom-scroll-in-progress::-webkit-scrollbar-thumb,
.custom-scroll-todays-deliveries::-webkit-scrollbar-thumb,
.custom-scroll-meeting-activities::-webkit-scrollbar-thumb{
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.header {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin: 10px;
}

.header h1 {
    font-size: 1.25rem;
}

.over {
    padding: 50px 10px;
}

.drag-item-list {
    min-height: 50px;
}

.drag-item {
    margin: 10px;
    padding: 10px;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    line-height: 1.5rem;
    letter-spacing: 1px;
    cursor: pointer;
}

.drag-item:focus {
    outline: none;
    background-color: white;
    color: black;
}

.add-btn-group {
    display: flex;
    justify-content: space-between;
}

.add-btn {
    margin: 10px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: fit-content;
    border-radius: 5px;
    transition: all 0.3s ease-in;
    user-select: none;
}

.add-btn:hover {
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
}

.add-btn:active {
    transform: scale(0.97);
}

.solid {
    display: none;
}

.solid:hover {
    transition: unset;
    filter: brightness(95%);
    color: white;
}

.plus-sign {
    font-size: 1.5rem;
    margin-right: 5px;
    position: relative;
    top: -3px;
}

.add-container {
    margin: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    min-height: 100px;
    display: none;
}

.add-item {
    width: 100%;
    min-height: 100px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    margin: 5px auto;
    resize: none;
    color: black;
    padding: 10px;
}

.add-item:focus {
    outline: none;
}

@media screen and (max-width: 1800px) {
    .main-title {
        font-size: 2rem;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-y: auto;
    }

    .drag-container {
        margin: 0;
    }

    .drag-list {
        display: block;
    }

    .drag-column {
        max-width: 40rem;
        margin: 10px auto auto auto;
    }
}

#taskPopup {
    width: 35%;
    max-height: 80vh; /* Define a altura máxima */
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333; /* Cor escura para o texto */
    padding: 20px;
}

#taskForm label {
    display: block;
    color: #333; /* Assegura que o texto do rótulo seja visível */
}

#taskForm input,
#taskForm textarea,
#taskForm select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    background: #fff; /* Fundo branco para os campos de entrada */
    color: #333; /* Texto escuro para os campos de entrada */
    border: 1px solid #ccc; /* Borda sutil para os campos */
    border-radius: 5px;
    margin-bottom: 10px;
}

#taskForm textarea {
    resize: vertical; /* Permitir redimensionamento vertical */
    min-height: 50px; /* Altura mínima inicial */
}

#taskForm button {
    color: white; /* Texto branco para os botões */
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%; /* Garante que os botões ocupem toda a largura do formulário */
}

.confirmarButtonTarefa {
    background-color: #4CAF50; /* Cor verde para os botões */
}

.confirmarButtonTarefa:hover {
    background-color: #45a049; /* Cor mais escura ao passar o mouse */
}

.cancelarButtonTarefa {
    background-color: red;
}

.cancelarButtonTarefa:hover {
    background-color: #7c0303;
}

#taskForm button {
    color: white; /* Texto branco para os botões */
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.drag-item {
    background-color: #333; /* Fundo escuro */
    color: white; /* Texto branco */
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.item-title {
    font-size: 1.0rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.item-description {
    font-size: 0.8rem;
    color: #ccc;
    margin-bottom: 10px;
}

.item-details {
    display: flex;
    justify-content: space-between;
    font-size: 0.7rem;
}

#charCount {
    font-size: 0.8rem;
    color: #666;
    margin-top: 5px;
    text-align: right;
}

.item-company {
    font-size: 0.7rem;
    color: #f0ad4e;
    margin-top: 5px;
}

.item-date {
    color: #f0ad4e;
}

.item-author {
    color: #5cb85c; /* Cor de destaque para o autor */
}

.drag-item {
    position: relative;
    background-color: #333;
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-content {
    position: relative; /* Adicionado para posicionamento relativo */
}

.edit-icon {
    position: absolute;
    top: 5px;
    right: 30px; /* Ajustado para melhor posicionamento */
    cursor: pointer;
    font-size: 16px;
    color: white; /* Cor ajustada para visibilidade */
}

.delete-icon {
    margin-left: 10px;
    color: red; /* Cor do ícone de deletar */
    position: absolute;
    top: 5px;
    right: 10px; /* Ajustado para melhor posicionamento */
    cursor: pointer;
    font-size: 16px;
}

.cancelarButtonTarefa {
    background-color: red;
}

.cancelarButtonTarefa:hover {
    background-color: #7c0303;
}

.item-header {
    display: flex;
    justify-content: flex-end; /* Alinha os ícones à direita */
    width: 100%;
    margin-bottom: 30px;
}

#deleteConfirmPopup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: black;
}

#deleteConfirmPopup button {
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#cancelarDelete {
    background-color: #4CAF50;
}

#cancelarDelete:hover {
    background-color: #45a049;
}

/* Estilo do Container da Empresa */
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

select,
input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="none" stroke="%23000" d="M2 0L0 2h4zM2 5L0 3h4z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 10px;
}

.cancelarButtonEditar {
    background-color: #555555;
}

.cancelarButtonEditar:hover {
    background-color: #353535;
}

.deletarButtonEditar{
    background-color: #DC3545;
    margin-left: 10px;
}

.deletarButtonEditar:hover{
    background-color: #c82333;
}

/* Adicione esta classe ao seu CSS */
.blur {
    filter: blur(5px);
}

/* Estilização do popup */
#taskDetailPopup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: rgba(255, 255, 255, 0.9); /* Fundo com transparência */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    color: black;
    text-align: left;
}

#taskDetailPopup h2 {
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: 700;
    color: #333;
    display: flex;
    justify-content: center;
}

#taskDetailPopup label {
    font-weight: bold;
    color: #333;
    margin-top: 10px;
    display: block;
}

#taskDetailPopup p {
    margin: 5px 0;
    font-size: 1rem;
    color: #555;
}

#taskDetailPopup button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 20px;
    display: block;
    width: 100%;
}

#taskDetailPopup button:hover {
    background-color: #45a049;
}
.desc-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.desc-container textarea {
    flex-grow: 1;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
    resize: vertical; /* Permitir redimensionamento vertical */
}

.desc-container input[type="checkbox"] {
    margin-right: 10px;
}

.desc-edit-icon,
.desc-delete-icon {
    cursor: pointer;
    font-size: 1.2rem;
    margin-left: 5px; /* Ajuste a margem conforme necessário */
}

.desc-delete-icon {
    color: red;
}

#addDescriptionButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0;
    margin: 10px auto;
}

#addDescriptionButton:hover {
    background-color: #45a049;
}


#toggleDescriptionTypeButton{
    background-color: white;
}

.check-list-button{
    margin-left: 98%; !important;
}

.custom-checkbox {
    display: none;
}

.custom-checkbox + label {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    user-select: none;
    font-size: 1rem;
    line-height: 1.2;
}

.custom-checkbox + label:before,
.custom-checkbox + label:after {
    content: '';
    position: absolute;
    transition: all 0.3s ease;
}

.custom-checkbox + label:before {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background: #fff;
}

.custom-checkbox:checked + label:before {
    border-color: #09ad7e;
    background-color: #09ad7e;
}

.custom-checkbox:checked + label:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 5px;
    width: 10px;
    height: 5px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: translateY(-50%) rotate(134deg) rotateX(180deg);
}

.completed {
    text-decoration: line-through;
}

.star-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.star-row {
    cursor: pointer;
}

.star {
    color: yellow;
    font-size: 24px;
}

.star-row.selected .star {
    color: gold;
}

.item-priority{
    font-size: 1.2rem;
    color: gold;
}
#detailPrioridade{
    color: gold !important;
}

.loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top-color: #000;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.blur-background {
    filter: blur(5px);
    pointer-events: none;
}

