body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    margin-top: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px; /* Adiciona espaço entre as tabelas */

}

table, th, td {
    border: 1px solid #000;
}

th, td {
    padding: 8px;
    text-align: right;
}

th {
    background-color: #4CAF50;
    color: white;
}

tfoot td {
    font-weight: bold;
}

#financeTable {
    counter-reset: rowNumber;
}

#financeTable tbody tr {
    counter-increment: rowNumber;
}

#financeTable tbody tr td:first-child::before {
    content: counter(rowNumber);
    text-align: left;
}
