.subnavbar {
    font-family: 'DM Sans', sans-serif;
    background-color: #FFFFFF;
    color: white;
    padding: 1vw;
    display: flex;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}
.subnavbar div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 51%;
}
.subnavbar button {
    font-family: 'DM Sans', sans-serif;
    padding: 5px 10px;
    background-color: #FFFFFF;
    color: black;
    cursor: pointer;
    font-size: 16px;
    border: none;


}

.buttonMenu{
    margin: 0 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2), 0 0 15px 0 rgba(0,0,0,0.19);
    width: auto;

}

.subnavbar button:hover {
    background-color: #8BACAF;
}

.dropdown-content-insercao {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    left: 0;
    right: 0;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    white-space: nowrap;
}

.show {display: block;}

.seletores div{
    border-radius: 5px;
    padding: 10px;
    background-color: #FFFFFF;
    color: black;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
    margin-left: 5%;
    margin-right: 5%;
    flex: 1;
}

.seletores>div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.data-seletor {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dateButton {
    width: 100%;
    padding: 8px 12px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
}

.tabela{
    display: flex;
    padding: 0;
    justify-items: center;
    margin-top: 3vw;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.tabela table{
    border-collapse: collapse;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
}

.tabela table thead{
    background-color: #8BACAF;
    color: #000000;
    font-family: 'DM Sans', sans-serif;
    font-weight: lighter;
}

.tabela table tbody{
    background-color: #FFFFFF;
    color: #000000;
    font-family: 'DM Sans', sans-serif;
    font-weight: lighter;
}

.tabela table tbody tr:nth-child(even){
    background-color: #FFFFFF;
}


.tabela select{
    border-radius: 5px;
    padding: 0;
    text-align: left;
    width: 8vw;
    background-color: #FFFFFF;
    color: black;
    cursor: pointer;
    font-size: 16px;
    margin-left: 5%;
    margin-right: 5%;
    flex: 1;
}

.tabela th, .tabela td {
    padding: 8px;
}

.seletores {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 3vw;
}

#seletorBanco {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
    font-size: 16px;
    text-align-last: center;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="submit"] {
    width: 19%;
    margin: 0 auto;
    margin-top: 1.2vw;
    display: block;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
    font-size: 16px;
    text-align: center;
}

#ultimasInsercoes {
    margin-top: 3vw;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    box-sizing: border-box;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
}

#ultimasInsercoes thead {
    background-color: #8BACAF;
    color: #000000;
    font-family: 'DM Sans', sans-serif;
    font-weight: lighter;
}

#ultimasInsercoes tbody {
    background-color: #FFFFFF;
    color: #000000;
    font-family: 'DM Sans', sans-serif;
    font-weight: lighter;
    text-align: center;
}

#ultimasInsercoes th, #ultimasInsercoes td {
    padding: 8px;
}

#ultimasInsercoes tbody tr:nth-child(even){
    background-color: #FFFFFF;
}

#categoriasButtonDiv {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#categoriasButton {
    width: 100%;
    padding: 8px 12px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    height: 55px;

}

#categoriasButton:hover {
    background-color: #8BACAF;
}

#dateButton:hover {
    background-color: #8BACAF;
}

.popup {
    display: none;
    position: fixed;
    left: 50%;
    padding: 0;
    overflow: hidden;
    margin: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #000;
    z-index: 3;
    width: 60%;
    height: 70%;
    background: #FFFFFF;
    opacity: 1

}
.sobreposicao {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 3;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: #FFFFFF;
}

.fechar{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #000;
}
#loadingPopup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingContent {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#datepicker{
    padding: 8px 12px;
}


#tipo{
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
    text-align-last: center;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.valor{
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: text;
    background-color: #fff;
    text-align-last: right;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.textos{
    font-family: 'DM Sans', sans-serif;
    color: black;
    height: .85vw;
    padding: 6px 10px;
}

.textosBox{
    font-family: 'DM Sans', sans-serif;
    padding: 0;
    color: black;
    background-color: #fff;
    text-align-last: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select2-container--default .select2-selection--single {
    width: 120%;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 12px;
}

.select2-selection__arrow{
    right: -29px !important;
}
.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 500px;
    max-height: 70%;
    overflow-y: auto;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
}

#anexo-content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#anexo-content a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
    width: 100px;
    text-align: center;
}

#anexo-content img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

#anexo-content span {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.drag-handle {
    cursor: move;
    width: 4vh;
}


.sub-linha {
    margin-left: 20px;
}

#abrirSaldoPopup {
    background-color: #8BACAF;
    margin-top: 10px;
    padding: 8px 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
}

#saldoPopup .popup-content {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}

#saldoPopup .popup-content input {
    width: 100%;
    padding: 8px;
    margin: 10px -10px;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top-color: #000;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.blur-background {
    filter: blur(5px);
    pointer-events: none;
}

.blink-red {
    animation: blink-red-animation 1s infinite alternate;
}

@keyframes blink-red-animation {
    from { background-color: #ffcccc; }
    to { background-color: #ffe6e6; }
}

.popup-insercao-container {
    display: none;
    position: fixed;
    z-index: 1500;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    max-height: 80vh;
    overflow-y: auto;
    width: 90vw;
    border-radius: 8px;
}

.popup-insercao-header {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
}

.popup-insercao-table {
    width: 100%;
    border-collapse: collapse;
}

.popup-insercao-table-header {
    background-color: #8BACAF;
    color: white;
    padding: 10px;
    text-align: left;
}

.popup-insercao-table-header:first-child {
    border-top-left-radius: 5px;
}

.popup-insercao-table-header:last-child {
    border-top-right-radius: 5px;
}

.popup-insercao-table td,
.popup-insercao-table th {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

.popup-insercao-table td input,
.popup-insercao-table td select {
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
}

.popup-insercao-buttons {
    margin-top: 20px;
    text-align: center;
}

.popup-insercao-button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin: 0 10px;
}

.popup-insercao-button:hover {
    background-color: #218838;
}

.popup-insercao-button:last-child {
    background-color: #dc3545;
}

.popup-insercao-button:last-child:hover {
    background-color: #c82333;
}

#bancoPopup {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#bancoPopup h3 {
    margin-top: 0;
}

#bancoPopup select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

#bancoPopup button {
    margin: 5px;
    padding: 10px 20px;
}

.mes-selector-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -20px;
    overflow: hidden;
    height: 80px; /* Define uma altura específica para os botões */

}

.mes-button {
    flex: 0 0 auto;
    margin: 0 2px; /* Margem reduzida entre os botões */
    padding: 5px 10px; /* Aumenta o padding vertical para melhorar a altura */
    background-color: white;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
    font-size: 12px; /* Aumenta o tamanho da fonte para melhor legibilidade */
    min-width: 80px; /* Define uma largura mínima para os botões */
    height: 40px; /* Define uma altura específica para os botões */
}
.mes-selector {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 5px; /* Mantém o padding interno do container dos meses */
    width: 80%;
    justify-content: center; /* Centraliza os meses no container */
    align-items: center; /* Centraliza verticalmente os botões */
    margin: 10px;
}
.mes-button.active {
    background-color: #759194;
}

.arrow-button {
    background-color: #8BACAF;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.ui-datepicker {
    display: none !important; /* Força a não exibição do calendário */
}

.linha-selecionada {
    background-color: #e0f7fa; /* Fundo azul claro */
    color: #00796b; /* Texto em cor verde escuro */
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transição suave */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.linha-selecionada td {
    border-left: 4px solid #00796b; /* Borda esquerda destacada */
}

