.subnavbar {
    font-family: 'DM Sans', sans-serif;
    background-color: #FFFFFF;
    color: white;
    padding: 1vw;
    display: flex;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}
.subnavbar div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 51%;
}
.subnavbar button {
    font-family: 'DM Sans', sans-serif;
    padding: 5px 10px;
    background-color: #FFFFFF;
    color: black;
    cursor: pointer;
    font-size: 16px;
    border: none;


}

.buttonMenu{
    margin: 0 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2), 0 0 15px 0 rgba(0,0,0,0.19);
    width: auto;

}

.subnavbar button:hover {
    background-color: #8BACAF;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    left: 0;
    right: 0;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    white-space: nowrap;
}

.show {display: block;}

.seletores div{
    border-radius: 5px;
    padding: 10px;
    background-color: #FFFFFF;
    color: black;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
    margin-left: 5%;
    margin-right: 5%;
    flex: 1;
}

.seletores>div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.data-seletor {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dateButton {
    width: 100%;
    padding: 8px 12px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
}

.tabela{
    display: flex;
    padding: 0;
    justify-items: center;
    margin-top: 3vw;
    margin-left: auto;
    margin-right: auto;
    width: 88%;
}

.tabela table{
    border-collapse: collapse;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
}

.tabela table thead{
    background-color: #8BACAF;
    color: #000000;
    font-family: 'DM Sans', sans-serif;
    font-weight: lighter;
}

.tabela table tbody{
    background-color: #FFFFFF;
    color: #000000;
    font-family: 'DM Sans', sans-serif;
    font-weight: lighter;
}

.tabela table tbody tr:nth-child(even){
    background-color: #FFFFFF;
}


.tabela select{
    border-radius: 5px;
    padding: 0;
    text-align: left;
    width: 8vw;
    background-color: #FFFFFF;
    color: black;
    cursor: pointer;
    font-size: 16px;
    margin-left: 5%;
    margin-right: 5%;
    flex: 1;
}

.tabela th, .tabela td {
    padding: 8px;
}

.seletores {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 3vw;
}

#seletorBanco {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
    font-size: 16px;
    text-align-last: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#seletorBanco::-ms-expand {
    display: none;
}

input[type="submit"] {
    width: 19%;
    margin: 0 auto;
    margin-top: 1.2vw;
    display: block;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
    font-size: 16px;
    text-align: center;
}

#ultimasInsercoes {
    margin-top: 3vw;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    box-sizing: border-box;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
}

#ultimasInsercoes thead {
    background-color: #8BACAF;
    color: #000000;
    font-family: 'DM Sans', sans-serif;
    font-weight: lighter;
}

#ultimasInsercoes tbody {
    background-color: #FFFFFF;
    color: #000000;
    font-family: 'DM Sans', sans-serif;
    font-weight: lighter;
    text-align: center;
}

#ultimasInsercoes th, #ultimasInsercoes td {
    padding: 8px;
}

#ultimasInsercoes tbody tr:nth-child(even){
    background-color: #FFFFFF;
}

#categoriasButtonDiv {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#categoriasButton {
    width: 100%;
    padding: 8px 12px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    height: 55px;

}

#categoriasButton:hover {
    background-color: #8BACAF;
}

#dateButton:hover {
    background-color: #8BACAF;
}

.popup {
    display: none;
    position: fixed;
    left: 50%;
    padding: 0;
    overflow: hidden;
    margin: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #000;
    z-index: 3;
    width: 60%;
    height: 70%;
    background: #FFFFFF;
    opacity: 1

}
.sobreposicao {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 3;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: #FFFFFF;
}

.fechar{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #000;
}

#seletorCategoria{
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
    font-size: 16px;
    text-align-last: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#loadingPopup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingContent {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#datepicker{
    padding: 8px 12px;
}

#seletorFornecedor{
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
    text-align-last: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#tipo{
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
    text-align-last: center;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#valor{
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: text;
    background-color: #fff;
    text-align-last: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.textos{
    font-family: 'DM Sans', sans-serif;
    color: black;
    height: .85vw;
    padding: 6px 10px;
}

.textosBox{
    font-family: 'DM Sans', sans-serif;
    padding: 0;
    color: black;
    background-color: #fff;
    text-align-last: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}