body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.container {
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"], textarea, input[type="file"], select {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    height: 100px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.report-list-container ul {
    list-style-type: none;
    padding: 0;
}

.report-list-container li {
    background: #f9f9f9;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    position: relative; /* Para o posicionamento do botão */
}

.complete-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #45a049; /* Roxo */
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.complete-btn:hover {
    background-color: #5a005a;
}

.report-container, .report-list-container {
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* CSS para o popup */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 9999;
    opacity: 0; /* Inicialmente invisível */
    transition: opacity 0.5s ease; /* Adiciona uma transição suave */
}

.popup.show {
    display: block;
    opacity: 1; /* Torna o popup visível */
}

.popup.fade-in {
    animation: fadeIn 0.5s ease; /* Adiciona uma animação de fade in */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.popup-content {
    text-align: center;
}

.popup-content p {
    margin-top: 20px;
}

.popup-content button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.popup-content button:hover {
    background-color: #45a049;
}

/* CSS para centralizar os botões de paginação */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #45a049;
}

.pagination #pageNumber {
    margin: 0 10px;
}

/* CSS para os botões de filtro */
.filter-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.filter-btn {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.filter-btn.yellow {
    background-color: #FFC107;
}

.filter-btn.blue {
    background-color: #007BFF;
}

.filter-btn.green {
    background-color: #28A745;
}

.filter-btn.purple {
    background-color: #800080;
}

.filter-btn:hover {
    opacity: 0.8;
}

/* CSS para pré-visualização de arquivos */
.preview-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.preview-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    position: relative;
}

.preview-item img {
    max-width: 80px;
    max-height: 80px;
}

.preview-item object {
    width: 80px;
    height: 80px;
}

.remove-preview {
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    border: none;
    width: 1px;
    height: 1px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 12px;
}
