body {
    background: #eeee;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}

.navbar-all {
    background-color: #FFFFFF;
    padding: 1vw;
    display: flex;
    margin: 0;
    text-align: center;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: row;
}

.navbar-all .menu-inline {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.navbar-all .menu-inline li {
    position: relative;
    margin: 0 15px;
}

.navbar-all .menu-item {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    display: inline-block;
    min-width: 140px;
}

.menu-item:hover {
    background-color: #275396;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.navbar-all .show {
    display: block;
}

.navbar-all .search-box-empresa {
    position: relative;
    display: inline-block;
    margin-left: 20px;
}

.navbar-all .selected-company {
    padding: 10px;
    width: 250px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: white;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar-all .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px 0;
}

.navbar-all #searchInput {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    box-sizing: border-box;
    font-size: 1rem;
}

.navbar-all .nomes-empresa {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 300px;
    overflow-y: auto;
    color: black;
}

.navbar-all .nomes-empresa li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    white-space: normal; /* Permitir quebra de linha */
}

.navbar-all .nomes-empresa li:hover {
    background-color: #f1f1f1;
}

.navbar-all .dropdown {
    height: 60px;
    position: relative;
    display: flex;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2), 0 0 15px 0 rgba(0,0,0,0.19);
    border: 2px solid #ccc;
    border-radius: 5px;
}

.navbar-all .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.navbar-all .dropdown a:hover {
    background-color: #ddd;
}

.navbar-all .show {
    display: block;
}

.navbar-all .change-button {
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    margin: 0 20px;
}

.navbar-all .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.navbar-all .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.navbar-all .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.navbar-all .close:hover,
.navbar-all .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.navbar-all .dropbtn {
    width: auto;
    border-radius: 5px;
    border: none;
    font-family: 'DM Sans', sans-serif;
    padding: 5px 10px;
    background-color: #FFFFFF;
    color: black;
    cursor: pointer;
    font-size: 16px;
}

.navbar-all .dropbtn.active + .empresaSelecionada {
    border-radius: 0;
}

.navbar-all .dropbtn:hover,
.navbar-all .dropbtn:focus {
    background-color: #275396;
}

/* Estilo para o fundo embaçado */
.blurred-background {
    filter: blur(5px);
}

/* Estilo para a sobreposição embaçada */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* Estilo para a mensagem centralizada */
.centered-message {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 1000;
    width: 80%;
    max-width: 500px;
}

/* Estilo para o botão de fechar */
.centered-message .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #aaa;
}

.centered-message .close-button:hover {
    color: #000;
}

.hamburger-menu {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .navbar-all {
        flex-direction: column;
    }

    .navbar-all .menu-inline {
        flex-direction: column;
        align-items: center;
    }

    .navbar-all .menu-inline li {
        margin: 10px 0;
    }

    .navbar-all .search-box-empresa {
        margin-left: 0;
        width: 100%;
    }

    .navbar-all .selected-company {
        width: 100%;
        margin-top: 10px;
    }

    .navbar-all .menu-item {
        min-width: 100%;
        margin: 5px 0;
    }

    .navbar-all .dropdown {
        flex-direction: column;
        align-items: center;
    }

    .navbar-all .dropdown-content {
        width: 100%;
    }

    .hamburger-menu {
        display: block;
    }
}

hr {
    margin: 0;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
