@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');


body {
    background: #eeee;
    margin: 0;

}

.navbar {
    font-family: 'DM Sans', sans-serif;
    background-color: #FFFFFF;
    color: white;
    padding: 1vw;
    display: flex;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}
.navbar button {
    font-family: 'DM Sans', sans-serif;
    padding: 5px 10px;
    background-color: #FFFFFF;
    color: black;
    cursor: pointer;
    font-size: 16px;
    border: none;


}

.dropbtn{
     width: auto;
    border-radius: 5px 5px 0 0;

}

.buttonMenu{
    margin: 0 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2), 0 0 15px 0 rgba(0,0,0,0.19);
    width: auto;

}

.navbar button:hover {
    background-color: #8BACAF;
}

.dropbtn:focus {
    background-color: #8BACAF;
}

.dropdown {
    border-radius: 5px;
    position: relative;
    display: inline-block;
    margin-left: auto;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2), 0 0 15px 0 rgba(0,0,0,0.19);

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    left: 0;
    right: 0;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    white-space: nowrap;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.empresaSelecionada{
    width: 100%;
    border-radius: 0 0 5px 5px;
}

.dropbtn.active + .empresaSelecionada {
    border-radius: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}