body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.container {
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="password"],
select {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.checkbox-group, .empresa-group {
    display: flex;
    flex-direction: column;
}

.checkbox-group label, .empresa-group label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.checkbox-group input[type="checkbox"], .empresa-group input[type="checkbox"] {
    margin-right: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="button"] {
    background-color: #4CAF50;
    color: #fff;
}

button[type="button"]:hover {
    background-color: #257828;
}

button[type="button"]:nth-child(2) {
    background-color: #6c757d;
    color: #fff;
}

button[type="button"]:nth-child(2):hover {
    background-color: #5a6268;
}
