body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.container {
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="password"],
select {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.checkbox-group, .empresa-group {
    display: flex;
    flex-direction: column;
}

.checkbox-group label, .empresa-group label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.checkbox-group input[type="checkbox"], .empresa-group input[type="checkbox"] {
    margin-right: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="button"] {
    background-color: #4CAF50;
    color: #fff;
}

button[type="button"]:hover {
    background-color: #257828;
}

button[type="button"]:nth-child(2) {
    background-color: #6c757d;
    color: #fff;
}

button[type="button"]:nth-child(2):hover {
    background-color: #5a6268;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 9999;
    opacity: 0; /* Inicialmente invisível */
    transition: opacity 0.7s ease; /* Adiciona uma transição suave */
}

.popup.show {
    display: block;
    opacity: 1; /* Torna o popup visível */
}

.popup.fade-in {
    animation: fadeIn 0.7s ease; /* Adiciona uma animação de fade in */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.popup-content {
    text-align: center;
}

.popup-content p {
    margin-top: 20px;
}

.popup-content button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.popup-content button:hover {
    background-color: #45a049;
}
