@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    background-size: cover;
    background-position: 50% 60%;
    background-attachment: fixed;
    color: white;
    font-size: 20px;
    overflow-y: hidden;
}

.main-title {
    text-align: center;
    font-size: 3rem;
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.drag-container {
    margin: 20px;
}

.drag-list {
    display: flex;
    align-items: flex-start;
}

.drag-item-list.over {
    border: 2px dashed #666; /* Exemplo de estilo para área de drop */
}

.drag-column {
    flex: 1;
    margin: 0 10px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    overflow-x: hidden;
}

.pending-data-column .header,
.pending-data-column .solid,
.pending-data-column .solid:hover,
.pending-data-column .over {
    background-color: #5b5f97;
}

.to-do-column .header,
.to-do-column .solid,
.to-do-column .solid:hover,
.to-do-column .over {
    background-color: #a2622d;
}

.in-progress-column .header,
.in-progress-column .solid,
.in-progress-column .solid:hover,
.in-progress-column .over {
    background-color: #1b6161;
}

.todays-deliveries-column .header,
.todays-deliveries-column .solid,
.todays-deliveries-column .solid:hover,
.todays-deliveries-column .over {
    background-color: #248224;
}

.meeting-activities-column .header,
.meeting-activities-column .solid,
.meeting-activities-column .solid:hover,
.meeting-activities-column .over {
    background-color: #a22d22;
}

.custom-scroll-pending-data,
.custom-scroll-to-do,
.custom-scroll-doing,
.custom-scroll-done,
.custom-scroll {
    overflow-y: auto;
    max-height: 75vh;
}

.custom-scroll-pending-data::-webkit-scrollbar-track,
.custom-scroll-to-do::-webkit-scrollbar-track,
.custom-scroll-doing::-webkit-scrollbar-track,
.custom-scroll-done::-webkit-scrollbar-track,
.custom-scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    margin-right: 5px;
}

.custom-scroll-pending-data::-webkit-scrollbar,
.custom-scroll-to-do::-webkit-scrollbar,
.custom-scroll-doing::-webkit-scrollbar,
.custom-scroll-done::-webkit-scrollbar,
.custom-scroll::-webkit-scrollbar {
    width: 10px;
}

.custom-scroll-pending-data::-webkit-scrollbar-thumb,
.custom-scroll-to-do::-webkit-scrollbar-thumb,
.custom-scroll-doing::-webkit-scrollbar-thumb,
.custom-scroll-done::-webkit-scrollbar-thumb,
.custom-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--to-do);
}

.header {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin: 10px;
}

.header h1 {
    font-size: 1.25rem;
}

.over {
    padding: 50px 10px;
}

.drag-item-list {
    min-height: 50px;
}

.drag-item {
    margin: 10px;
    padding: 10px;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    line-height: 1.5rem;
    letter-spacing: 1px;
    cursor: pointer;
}

.drag-item:focus {
    outline: none;
    background-color: white;
    color: black;
}

.add-btn-group {
    display: flex;
    justify-content: space-between;
}

.add-btn {
    margin: 10px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: fit-content;
    border-radius: 5px;
    transition: all 0.3s ease-in;
    user-select: none;
}

.add-btn:hover {
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
}

.add-btn:active {
    transform: scale(0.97);
}

.solid {
    display: none;
}

.solid:hover {
    transition: unset;
    filter: brightness(95%);
    color: white;
}

.plus-sign {
    font-size: 1.5rem;
    margin-right: 5px;
    position: relative;
    top: -3px;
}

.add-container {
    margin: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    min-height: 100px;
    display: none;
}

.add-item {
    width: 100%;
    min-height: 100px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    margin: 5px auto;
    resize: none;
    color: black;
    padding: 10px;
}

.add-item:focus {
    outline: none;
}

@media screen and (max-width: 1800px) {
    .main-title {
        font-size: 2rem;
    }
}

@media screen and (max-width: 600px) {
    body {
        overflow-y: auto;
    }

    .drag-container {
        margin: 0;
    }

    .drag-list {
        display: block;
    }

    .drag-column {
        margin: 10px;
    }
}

#taskPopup {
    width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    color: #333; /* Cor escura para o texto */
}

#taskForm label {
    display: block;
    color: #333; /* Assegura que o texto do rótulo seja visível */
}

#taskForm input{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    background: #fff; /* Fundo branco para os campos de entrada */
    color: #333; /* Texto escuro para os campos de entrada */
    border: 1px solid #ccc; /* Borda sutil para os campos */
}

#taskForm textarea {
    width: 100%; /* Garante que ocupe a largura total do formulário */
    padding: 8px;
    box-sizing: border-box;
    background: #fff; /* Fundo branco para melhor visibilidade */
    color: #333; /* Cor do texto */
    border: 1px solid #ccc; /* Borda sutil */
    resize: vertical; /* Permite redimensionar apenas verticalmente */
    min-height: 100px; /* Altura mínima inicial */
}

.confirmarButtonTarefa {
    background-color: #4CAF50; /* Cor verde para os botões */
}

.confirmarButtonTarefa:hover {
    background-color: #45a049; /* Cor mais escura ao passar o mouse */
}

#taskForm button {
    color: white; /* Texto branco para os botões */
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.drag-item {
    background-color: #333; /* Fundo escuro */
    color: white; /* Texto branco */
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.item-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.item-details {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
}

.item-date {
    color: #f0ad4e; /* Cor de destaque para a data */
}

.item-author {
    color: #5cb85c; /* Cor de destaque para o autor */
}

.drag-item {
    position: relative;
    background-color: #333;
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-content {
    position: relative; /* Adicionado para posicionamento relativo */
}

.edit-icon {
    position: absolute;
    top: 5px;
    right: 30px; /* Ajustado para melhor posicionamento */
    cursor: pointer;
    font-size: 16px;
    color: white; /* Cor ajustada para visibilidade */
}

.delete-icon {
    margin-left: 10px;
    color: red; /* Cor do ícone de deletar */
    position: absolute;
    top: 5px;
    right: 10px; /* Ajustado para melhor posicionamento */
    cursor: pointer;
    font-size: 16px;
}

.cancelarButtonTarefa {
    background-color: red;
}

.cancelarButtonTarefa:hover {
    background-color: #7c0303;
}

.item-header {
    display: flex;
    justify-content: flex-end; /* Alinha os ícones à direita */
    width: 100%;
}

#taskDetailPopup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    color: black;
}

#taskDetailPopup h2 {
    margin-top: 0;
}

#taskDetailPopup div {
    margin-bottom: 15px;
}

#taskDetailPopup p {
    margin: 5px 0;
}

#taskDetailPopup button {
    background-color: #8BACAF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#taskDetailPopup button:hover {
    background-color: #7AA1A1;
}

#deleteConfirmPopup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: black;
}

#deleteConfirmPopup button {
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#confirmDeleteButton:hover {
    background-color: #7c0303;
}

#confirmDeleteButton {
    background-color: red;
}

#cancelarDelete {
    background-color: #4CAF50;
}

#cancelarDelete:hover {
    background-color: #45a049;
}

/* Estilo do Container da Empresa */
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

select,
input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="none" stroke="%23000" d="M2 0L0 2h4zM2 5L0 3h4z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 10px;
}
