html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f4f7f6; /* Cor de fundo suave */
    font-family: 'DM Sans', sans-serif;
}

#closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    border: none;
    background-color: #ff5f5f;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#EditandoTarefa {
    position: relative; /* Alterado de absolute para relative para centralizar melhor */
    margin: 20px auto; /* Centraliza horizontalmente */
    width: 90%; /* Largura relativa para responsividade */
    max-width: 600px; /* Máxima largura para dispositivos maiores */
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    background-color: #ffffff;
}

#tabela {
    width: 100%;
}

#todo-table {
    width: 100%;
    border-collapse: collapse; /* Remove espaços entre as células */
}

#todo-table th, #todo-table td {
    text-align: left;
    padding: 8px; /* Padding para espaço interno */
}

#todo-table th {
    background-color: #e8e8e8; /* Cor de fundo do cabeçalho */
}

#todo-table tr:nth-child(even) {
    background-color: #f2f2f2; /* Cor de fundo intercalada para as linhas */
}

#alinhadorTarefa {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Espaçamento interno */
}

#tarefa {
    width: 100%; /* Ajuste para ocupar a largura disponível */
    max-width: 600px; /* Máxima largura para consistência com #EditandoTarefa */
    margin: 0 auto; /* Centraliza horizontalmente */
    padding: 20px; /* Espaçamento interno */
    background-color: #ffffff; /* Cor de fundo */
    border-radius: 5px; /* Arredondamento das bordas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

#editar-tarefa-form input[type="text"],
#editar-tarefa-form input[type="date"],
#editar-tarefa-form input[type="submit"] {
    width: calc(100% - 20px); /* Ajusta a largura considerando o padding */
    padding: 10px; /* Espaçamento interno */
    margin: 8px 0; /* Margem externa para separação */
    border: 1px solid #ccc; /* Borda suave */
    border-radius: 4px; /* Arredondamento das bordas */
}

#editar-tarefa-form input[type="submit"] {
    background-color: #4CAF50; /* Cor de fundo para o botão de enviar */
    color: white; /* Cor do texto */
    cursor: pointer; /* Cursor do mouse */
}

